.sidebar{
    width: 20%;
    min-height: 100vh;
    border: 1px solid #a9a9a9;
    border-top: 0;
    font-size: max(1vw,10px);
}

.sidebar-options{
    padding-top: 50px;
    padding-left: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar-option{
    display: flex;
    align-items: center;
    gap: 15px;
    border: 1px solid #a9a9a9;
    padding: 6px 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 95%;
}

.sidebar-option.active{
    background-color: #fff0ed;
    border-color: tomato;
}

@media (max-width:900px){
    .sidebar-option p{
        display: none;
    }

    .sidebar-option{
        width: 80%;
    }
}